{% extends 'base.html' %}

{% block content %}


<div class="col-md-5 offset-md-3 border border-dark rounded-4 py-5 px-5 bg-light">
    <div>
        {% if user.is_authenticated %}
        <h1>hello world</h1>
        {% else %}

        <h1>Login</h1>
        <br>
    </div>
    <form method="post" action="{%url 'home' %}">
        {% csrf_token %}
     
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <br>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-dark offset-md-5">Login</button>
       

    </form>
</div>


{% endif %}

{% endblock %}