{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>Upload Excel File</title>
</head>
<body>
    
    <div class="col-md-5 offset-md-3 border border-dark rounded-4 py-5 px-5 bg-light">
        <h1>Upload Excel File</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'importdata' %}">
        {% csrf_token %}
        <div class="mb-3">
        <input type="file" name="file">
    </div>
     <br>
        <input type="checkbox" name="h1">1st row of sheets are headers ?</input>
        <button type="submit" class="btn btn-success offset-md-4">submit</button>
    </form>
    </div>
</body>
</html>
{% endblock %}