{% extends 'base.html' %}

{% block content %}

<h1> Customer record</h1>

<div class="card">
    <div class="card-header">
        {{ customer_record.Customer_name }}
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>Email:</strong> {{customer_record.Customer_email }}<br>
            <strong>Phone:</strong> {{ customer_record.Phone }}<br>
            <strong>Address:</strong> {{ customer_record.Address }}<br>
            <strong>City:</strong> {{ customer_record.City }}<br>
            <strong>state:</strong> {{ customer_record.State }}<br>
            <strong>zipcode:</strong> {{ customer_record.Zipcode }}<br>
        </p>
    </div>
</div>

<br>
<a href="{% url 'home' %}" class="btn btn-dark">BACK</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">DELETE</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-warning">UPDATE RECORD</a>

<a href="{% url 'add_items' customer_record.id %}" class="btn btn-dark">ADD ITEM to this QUOTE</a>


{% endblock %}